<h1>Write a message</h1>
<%= form_for @message do |form| %>
	<div class="field">
		<%= form.label :text %> <br />
		<%= form.text_area :text, :rows => 3 %>
	</div>
	<div class="action">
		<%= form.submit "Post" %>
	</div>
<% end %>