#hotel_list_container {

height: 285px;
width: 655px;
overflow-x: auto;
overflow-y: auto;
margin:0 auto;
padding: 0;
/* border: 1px solid #000000;*/
}

#main_banner #city_scape #step_wrapper #step_inner #step_main #step_box #step_box_content_alt {
	border-bottom: 1px solid #b5b5b5;
	background: url('bg_step_box_content.png') repeat-x center bottom;
	padding: 0;
}


.hotel_summary {
float:left;
width: 620px;
margin: 5px;
}

.hotel_summary .hotel_checkbox {
float:left;
}
.hotel_summary .thumbnail {
float:left;
}
.hotel_summary .summary_text {
float:right;
width: 520px;
color:#f18c08;
font-size:18px;
font-weight:bold;
}

.hotel_summary .summary_text h1 {
	float: left;
	color:#f18c08;
	font-size:18px;
	margin: 0;
	width: 420px;
}

.hotel_summary .summary_text h4 {
	float: right;
	font-size: 25px;
	text-align:right;
	margin: 0;
	width: 100px;
	overflow: hidden;
}

.hotel_summary .summary_text h4 span {
	color: #666;
	float: right;
	display: block;
	font-size: 14px;
}

.hotel_summary .summary_text .stars {
	float:left;
	margin: 0;
	padding: 0;
	
}
