// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.trip_select_container form select#id{
	width:143px;
	color: #444444;
	font-size: 13px;
	display:inline;
}

 div.trip_select_container a{
	display:inline;
	color: #444444;
	font-size: 13px;
	text-decoration: none;
}

html body ul.ui-autocomplete {
	width:305px;
}


#trip_notice {
	display:inline;
	background: #fff6cc 50% 50%; 
	border-radius: 6px;
	border: 1px solid #ffd100;
	color: #000;
	padding: 5px 30px 5px 30px;
	font-size:18px;
	position:relative;
	left:25%;
}
#app_notice {
	display:inline;
	background: #fff6cc 50% 50%; 
	border-radius: 6px;
	border: 1px solid #ffd100;
	color: #000;
	padding: 5px 30px 5px 30px;
	font-size:20px;
	position:relative;
	left:38%;
}