<div id="quote_wrapper">
	<div id="main_quote">	
		Now, group travel is easier than ever.
	</div>
	<div id="sub_quote">
		Plan an event, invite your group, pick your lodgings & book!
		<a href="JavaScript:void(0);" class="button_action orange_action">Learn More</a>
		
		<div id="notice"> <%= notice %></div>
	
	</div>	
		
</div>
<div id="step_wrapper">
	<div id="step_inner">
		<div id="step_header">
			<div id="steps_wrap">
				<div class="step" style="text-align:left;width:185px;">
					<div class="step_image" id="step_1_active"></div>
					<div class="clr"></div>
					Plan Event
				</div>
				<div class="step" style="text-align:center;">
					<div class="step_image" id="step_2_active"></div>
					Invite Guests
				</div>
				<div class="step" style="text-align:right;width:195px;">
					<div class="step_image" id="step_3_active"></div>
					<div class="clr"></div>
					Lodging Selection
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div id="step_main">
			<div id="step_box">
				<div id="loops_wrap">
					<div class="loop" style="float:left;"></div>
					<div class="loop" style="float:right;"></div>
					<div class="clr"></div>
				</div>
				<div id="step_box_content_alt">
					<div id="hotel_list_container">
						<%= form_tag lodgings_url(:trip_id => params[:trip_id]) do %>	
							<% @hotels.each  do |h|  %>
							<div class="hotel_summary" >
								<%= 	render(	:partial => "/lodgings/hotel_summary", 
											:locals => { :object => h})%>
							</div>	
							<% end %>
					</div>	
				
								 
						<div class="clr"></div>
					</div>
					<div id="step_box_footer" style="padding:10px 90px 0;">
						Continue to event page...
						<%= submit_tag "Add Lodgings", :class => "button_action blue_action", :style => "float:right" %>
					</div>
				<% end %>	
			</div>
		</div>
	</div>
</div>

